.link {
    color: var(--cor-fonte-principal);
    font-size: 1.25rem;
    line-height: 1.5rem;        
}

.linkDestacado {
    color: #cccccc;        
}

.link:hover {
    color: goldenrod;   
    text-decoration: underline;
}
